body {
	background-color: black;
	color: white;
}

h3{
font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
text-align: center;
}

summary,li,br,p{
	font-family: 'riffic';
}

	